html{
	font-family: sans-serif;
	margin-left: 50px;
	margin-top: 20px;
	margin-right: 50px;
}
header{
	text-align: left;
	color: cadetblue;
	text-shadow: 2px 2px #bdc3c7;

}
body{
	margin-top: 100px;
	position: static;
}
footer{
	text-align: right;
	border-style: solid;
	border-color: cadetblue;
	margin-right: 20px;
	font-size: 30px;
}

div.absolute {
 	 position: absolute;
 	 width: 22%;
 	 right: 39%;
 	 bottom: 30px;
  	text-align: center;
  	border-style: solid;
	border-color: cadetblue;
 }
 img {
  border-radius: 50%;
}
